body{
    margin:0;
    overflow: hidden;
}
*{
    margin:0;
    padding:0;
}
.box{
    position: relative;
    width:100%;
    height:600px;
    margin: 0 auto;
    overflow: hidden;
}
#main{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
#minor{
    position: absolute;
    top:30px;
    left:0;
    height:300px;
    width:300px;
    display:none;
}
/*.back{
    position: absolute;
    top:0;
    left:160px;
    width:50px;
    height:24px;
    line-height: 24px;
    cursor: pointer;
    overflow: auto;
    color:#fff;
    font-size: 12px;
    display: none;
}*/
.back{
    display: none;
}
.showback{
    display: inline;
}
.settime{
    position: absolute;
    top:5px;
    right:180px;
    width:60px;
    height:16px;
    font-size: 12px;
    color:#fff;
    cursor: pointer;

    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.showtime{
    position: absolute;
    top:5px;
    right:5px;
    width:auto;
    height:16px;
    font-size: 12px;
    color:#fff;
}
.recordsbox{
    position: absolute;
    bottom:50px;
    left:70px;
    width:250px;
    height:200px;
    font-size: 12px;
}
.toolbox{
    position: absolute;
    bottom:150px;
    right:25px;
    width:auto;
    height:30px;
    font-size: 12px;
    color:#fff;
}
.toolbox ul li{
    cursor:pointer;
}
.legendbox{
    position: relative;
    top:0;
    left:0;
    width:150px;
    /*height:30px;*/
    overflow: hidden;
    font-size: 12px;
    display: none;
    z-index: 10;
}
/*.legendItem{
    margin:5px 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}*/
.styled-select {
   height: 22px;
   line-height: 22px;
   padding-left:6px;
   overflow: hidden;
   color:#fff;
   background: url(x2.png) no-repeat 133px #000;
   cursor:pointer;
}
.ulbox{
    position: relative;
    display: none;
    max-height: 250px;
}
.legend {
    position: relative;
   color:#fff;
   background-color:  #000;
   width: 150px;
   font-size: 12px;

}
.legend li{
    color:#fff;
   background-color:  #000;
   line-height: 22px;
   padding-left:6px;
   font-size: 12px;
   cursor: pointer;
}
.legend li:hover{
    background-color:  #4876FF;
}
.legend .legendActive{
    background-color:  #4876FF;
}
/****筛选条件****/
.filterdatabox{
    position: absolute;
    top:0;
    left:100px;
    width:346px;
    height:31px;
    /*max-height: 442px;*/
    background-color:transparent;
    border-left:none;
    font-size: 16px;
    color:#eaeaea;
    z-index: 10;
}
.filterdata{
    position: absolute;
    top:0;
    bottom:31px;
    left:0;
    right:0;
    height:0;
    z-index: 20;
    background-color: #151516;
    border:1px #cfcfcf solid;
    border-top:none;
    display: none;
}
/**修正bootstrap下拉框样式*/
.filterdata .form-group:last-child{
    margin-bottom: 0;
}
.filterdata .form-horizontal .form-group{
    margin:0 12px;
    padding:10px 0;
    border-bottom:1px #313131 solid;
}
.filterdata .form-horizontal .form-group .col-lg-3{
    width:96px;
    padding-left:0;
    padding-right:0;
    margin-right:14px;
}
.filterdata .form-horizontal .form-group .col-lg-9{
    width:210px;
    padding-left:0;
    padding-right:0;
}
.filterdata .btn-default, .filterdata .btn-default.active, .filterdata .btn-default:active, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:hover, .filterdata .form-control{
    background-color: #363636;
    color:#eaeaea;
}
.filterdata .btn-default, .filterdata .btn-default.focus, .filterdata .btn-default:focus, .filterdata .form-control, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    border:none;
}
.filterdata .bootstrap-select .dropdown-toggle:focus {
    outline: 0 none transparent!important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 210px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color:#eaeaea;
}
.filterdata .form-horizontal .control-label{
    padding-top:4px;
}
.filterdata .form-horizontal .TimeOut{
    padding-top:7px;
}
.filterdata .no-results{
    color:red;
}
.filterdata label{
    font-weight: 500;
}
.bootstrap-select .btn{
    padding-top:5px;
    padding-bottom:5px;
}
/**修正END*/
.togglefilter{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    height: 31px;
    line-height: 30px;
    background-color: #1d283b;  
    cursor: pointer;
    overflow-y: hidden;
    border:1px #cfcfcf solid;
    border-top:none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}
.togglefilterbtn{
    font-weight: 700;
}
/*.vertical-align:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.vertical-align-middle{
    vertical-align: middle;
}*/
/***筛选条件 END***/


/*.label{
    float:left;
    display: block;
    width:20px;
    height:12px;
    margin:0 5px;
    background-color: #ccc;
}*/
/*.active{
    background-color: orange;
}*/
.title{
    float:left;
    display: block;
    width:100px;
    line-height: 1;
    color:#fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.waybillList{
    position: absolute;
    top:38px;
    right:0;
    /*width:312px;*/
    width:634px;
    height:400px;
    display: none;
    background-color: #e5e5e5;
    color:#2c2c2c;
    overflow: hidden;
    padding-right:15px;
    padding-left:15px;
    border-radius:10px;
}
.waybilltitle{
    position: absolute;
    top:0;
    width:608px;
    height:50px;
    border-bottom:1px #d6d6d6 solid;
    display: block;
    color:#fff;
    overflow: hidden;
    font-size: 12px;
}
.waybilltitle .statetitle{
    position: absolute;
    left:0;
    width:100%;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
/*.test{
    font-size: 30px;
}
.test:after{
    content: "\00B7";
    display: inline;
    width: 100%;
    height:100%;
}*/
.waybilltitle .statetitle .Highlight{
    color:#d13b2f;
}
.waybilltitle .CloseWaybill{
    position: absolute;
    width:20px;
    top:13px;
    right:0;
    display: block;
    height:20px;
    background-image: url(images/g.png);
    cursor: pointer;
}
.waybillList .table{
    position: absolute;
    top:50px;
    width:608px;
    height:340px;
    font-size: 14px;
    margin-bottom:0;
}
.waybillList .table .thead{
    font-weight: 600;
    height:40px;
    line-height: 40px;
    border-bottom:1px #c9c9c9 solid;
}
.waybillList .table .thead >label{
    margin-bottom: 0;
    display: block;
    float: left;
    color:#2c2c2c;
    font-size: 12px;
    font-weight: 600;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
}
.waybillList .table .thead >label:nth-child(1){
    margin-left:173px;
    width: 158px;
    padding-left:15px;
    padding-right:5px;
    text-align: left;
}
.waybillList .table .thead >label:nth-child(2){
    width: 80px;
}
.waybillList .table .thead >label:nth-child(3){
    width: 106px;
}
.waybillList .table .thead >label:nth-child(4){
    width: 91px;
}
.waybillList .tbodybox{
    width:100%;
    height:0;
}
.waybillList .table .tbodybox .btnclick{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px #c9c9c9 solid;
    cursor: pointer;
}
.waybillList .table .tbodybox .btnclick:last-child{
    border-bottom: none;
}
.waybillList .table .tbodybox .btnclick>label{
    color:#2c2c2c;
    display: block;
    float: left;
    text-align: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-weight: 500;
    margin-bottom: 0;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
}
.waybillList .table .tbodybox .btnclick>label:nth-child(1){
    color:#656565;
    font-size: 16px;
    width:121px;
}
.waybillList .table .tbodybox .btnclick>label:nth-child(2){
    width:52px;
    text-align: right;
}
.waybillList .table .tbodybox .btnclick>label:nth-child(3){
    width:158px;
    padding-left:15px;
    padding-right:5px;
    text-align: left;
}
.waybillList .table .tbodybox .btnclick>label:nth-child(4){
    width:80px;
}
.waybillList .table .tbodybox .btnclick>label:nth-child(5){
    width:106px;
}
.waybillList .table .tbodybox .btnclick>label:nth-child(6){
    width:91px;
}


.timeOut{
    background-color: #d13b2f;
}
/*.waybillList .table div>label{
    display: block;
    float: left;
    width:50px;
    text-align: left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: pointer;

}

.waybillList .table div>label:nth-child(1){
    width:30px;
}
.waybillList .table div>label:nth-child(1){
    width:104px;
}
.waybillList .table div>label:nth-child(2){
    width:123px;
}
.waybillList .table div>label:nth-child(3){
    width:59px;
}
.waybillList .table div>label:nth-child(4){
    width:59px;
}*/

/***订单详情**/
.detailsbox{
    position: absolute;
    top:50px;
    left:0;
    bottom:0;
    /*width:350px;*/
    width:698px;
    max-height:604px;
    color:#fff;
    background-color: transparent;
    overflow: hidden;
    font-size: 10px;
    display: none;
}
.detailsbox .table{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-height:604px;
    margin-bottom: 0;
}
/**订单信息*/
.OrderInfo{
    height:50px;
    line-height: 50px;
    background-color: #cdcdcd;
    padding-right:20px;
    padding-left:20px;
    color:#2c2c2c;
    font-weight: 600;
    font-size: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.OrderInfo  label{
    text-align: right;
    margin-bottom: 0;
    padding-right:10px;
}
.OrderInfo span{
    text-align: left;
    padding-left:0;
}
/**订单过程*/
.OrderProcess{
    color:#a4a4a4;
    background-color: #f6f6f6;
    height:142px;
    width:100%;
    padding-right:70px;
    padding-left:70px;
}
.OrderProcess div{
    padding-right:5px;
    padding-left:5px;
}
.OrderProcess .eventComplete{
    color:#FF4500;
}

/**订单过程end*/
.CloseDetails{
    width:100%;
    display: block;
    height:12px;
    background-color: #fff;
    cursor: pointer;
}
.show{
    display: block;
}
.btnclick{
    cursor: pointer;
}

.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1} 

.test{
    width:150px;
}